.card {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px; 
  background: white; 
  border-radius: 5px; 
  border: 1px solid #ddd
}

.card label{
  margin: 10px


}
.card input{
  border: 1px solid rgba(0, 0, 0, 0.287); 
  border-radius: 3px;
  color: rgba(47, 47, 47, 0.897);
  height: 40px;
  width: 500px;
  padding: 6px;
  font-size: 12pt;
  margin: 10px
}

.card input#lblDescription{
  width: 465px
}

.card input#lblUrl{
  color: rgba(4, 4, 119, 0.705);
  text-decoration: underline;
  width:467px

}
.card label#txtUrl{
  margin-left: 46px
}

.add-product {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(270px);
  margin-top: 20px
}

.add-product button {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: none;
  margin-top: 10px;
  color: #da552f;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  padding: 20px
}

.add-product button:hover{
  background: #da552f;
  color: white
}


